*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    margin: auto;
    width: 55%;
}

.main h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.table{
    border: 3px solid rgb(68, 66, 66);
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    background-color: #f1f1f1;
}

.table th{
    padding: 4px;
    font-size: 1.3rem;
}

.table th, .table td{
    border : 1px solid rgb(50, 48, 48);
}


.editbtn{
    background-color: #4c4cfe;
    border-Radius: 7px;
    padding: 5px 8px;
    margin: 3px;
    cursor: pointer;
}
.deletebtn{
    background-color: red;
    border-Radius: 7px;
    padding: 5px 8px;
    margin: 3px;
    cursor: pointer;
}

.createbtn{
    background-color: #4cfe4c;
    border-Radius: 7px;
    padding: 5px 8px;
    margin: 5px;
    cursor: pointer;
}